@keyframes blink {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes infinite-rotate-in-out {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes infinite-change-faces {
    0%{
        background-image: url('~@/assets/images/logo/face.png');
    }
    1% {
        background-image: url('~@/assets/images/logo/face-b.png');
    }
    60%{
        background-image: url('~@/assets/images/logo/face-b.png');
    }
    61%{
        background-image: url('~@/assets/images/logo/face.png');
    }
    100% {
        background-image: url('~@/assets/images/logo/face.png');
    }
}
@for $i from 0 to 10 {
    @keyframes molecules-balls-animation-#{$i} {
        0% {
            top: #{ percentage(random(100) / 100)};
            left: #{percentage(random(100) / 100)};
            opacity: (random(100) / 100);
        }
        25% {        
            bottom: #{ percentage(random(100) / 100)};
            right: #{percentage(random(100) / 100)};
            opacity: (random(100) / 100);
        }
        50% {        
            top: #{ percentage(random(100) / 100)};
            left: #{percentage(random(100) / 100)};
            opacity: (random(100) / 100);
        }
        75% {        
            bottom: #{ percentage(random(100) / 100)};
            right: #{percentage(random(100) / 100)};
            opacity: (random(100) / 100);
        }
        100%{
            top: #{ percentage(random(100) / 100)};
            left: #{percentage(random(100) / 100)};
            opacity: (random(100) / 100);
        }
    }
}