@mixin  baloo_bhaina{
    font-family: "Baloo Bhaina", Helvetica, sans-serif;
    text-transform: uppercase;
}

@mixin  itim_regular{
    font-family: "Itim Regular", Helvetica, sans-serif;
    text-transform: uppercase;
}

@mixin card_boxshadow {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
}

@mixin card_boxshadow_inset {
    box-shadow: inset 0px 0px 24px #999;
}

@mixin embed_image($url, $width, $height){  
    &::before{
        background-repeat: no-repeat;
        background-color: transparent;
        background-image: url($url);
        background-size: $width $height ;
        display: inline-block;
        width: $width; 
        height: $height;
        content:"";
    }    
}

@mixin custom_scroll_bar(){
    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
    &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background: transparentize(#999, 0.50);
        border: 0px none #ffffff;
        border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: transparentize(#999, 0.3);
    }
    &::-webkit-scrollbar-thumb:active {
        background: transparentize(#999, 0.1);
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        border: 0px none #ffffff;
        border-radius: 50px;
    }
    &::-webkit-scrollbar-track:hover {
        background: transparent;
    }
    &::-webkit-scrollbar-track:active {
        background: transparent;
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

@mixin fill {
    width: 100%;
    height: 100%;
}

@mixin shitzu-porko {
    font-family: 'Shitzu Porko Light', Arial, Helvetica, sans-serif;
}

@mixin custom-card($input: false){
    padding: 8px 0px;
    .card {
        $border-radius: 0.9rem;

        padding: 0.25rem;
        border-radius: 1rem;
        box-shadow: 0px 0px 6px transparentize($color: $card-input-box-shadow-color, $amount: 0.60);
        border: 1px solid #fff;

        .bg-color{
            border-radius: $border-radius;
        }

        .card-body {
            border-radius: $border-radius;
            @if $input {                
                border: 1px solid $card-input-dark-border-color;
            } @else {                
                border: 1px solid transparent;
            }
            text-align: center;
            font-size: 24px;
            padding: 1rem;
            transition: box-shadow 0.2s ease-in-out;
            @include card-body-box-shadow($card-input-box-shadow-color);
        }
        &.valid{
            .card-body {
                @include card-body-box-shadow($card-input-box-shadow-success-color, 0.0);
            }
        }
        &.invalid{
            .card-body {
                @include card-body-box-shadow($card-input-box-shadow-danger-color, 0.0);
            }
        }
        &.selected{
            background-color: #ccc;
        }
    }
}

// Card
@mixin card-body-box-shadow($color, $amount: 0.9) {
 box-shadow: inset 0px 0px 0px 6px transparentize($color, $amount);   
}