/******
*
* Theme
*
*****/

$bg-color: #fff;

$text-color: #5F4343;
$text-invert: #fff;

$navbar-bgcolor: #C62222;
$navbar-title-size: 32px;

/******
*
* Layout
*
*****/

$navbar-height: 70px;

$page-container-wrap-spacing: ($spacer * 8);
$page-container-wrap-spacing-xs: ($spacer * 3);

// Icons
$icon-width: 62px;
$icon-height: 62px;

$icon-names: (
    'icon-home',
    'icon-next',
    'icon-prev',
    'icon-redo',
);

$icon-themes: (
    comecar: '~@/assets/images/icons/comecar/',
    ler: '~@/assets/images/icons/ler/',
    escrever: '~@/assets/images/icons/escrever/'
);

// $icon-themes: (
//     '~@/assets/images/icons/red/',
//     '~@/assets/images/icons/blue/',
//     '~@/assets/images/icons/green/',
//     '~@/assets/images/icons/yellow/',
// );

// Grid
$gutter-size: 20px;

// Cards
$card-input-dark-border-color: #2B1F17;
$card-input-box-shadow-intesity: 6px;
$card-input-box-shadow-color: $card-input-dark-border-color;
$card-input-box-shadow-success-color: #7DB239;
$card-input-box-shadow-danger-color: #C72929;
$card-empty-color: #CDCBCB;
$card-empty-shadow-color: #ABABAB;

// Fontsizes
$font-size-variants: (
    small: 12px,
    normal: 18px,
    big: 24px
    );
    
    $font-displays: (
        d1: 1rem,
        d2: 2rem,
        d3: 3rem,
        d4: 4rem,
        d5: 5rem,
        d6: 6rem
        );
        
        
// Gameplay
$gameplay-heading-bg-color: lighten(#f4f4f4, 2.5);
$gameplay-header-height: 100px;
$gameplay-footer-height: 50px;
$gameplay-border-color: #ddd;
$gameplay-height: calc(70vh - #{ $navbar-height - 24px });

// Item
$item-min-width: 100px;