/******
*
* Theme
*
*****/

$spacer: 1rem;

$bg-color: #fff;

$text-color: #5F4343;
$text-invert: #fff;

$navbar-bgcolor: #b03333;
$navbar-title-size: 32px;

/******
*
* Layout
*
*****/

$navbar-height: 70px;

$page-container-wrap-spacing: ($spacer * 8);
$page-container-wrap-spacing-xs: ($spacer * 3);

$theme-colors: (
    comecar: #b03333,
    ler: #1b9f49,
    escrever: #0b84ac,
    biblioteca: #F8A728
);

// Icons
$icon-width: 62px;
$icon-height: 62px;

$icon-names: (
    'icon-home',
    'icon-next',
    'icon-prev',
    'icon-lista',
    'icon-redo',
    'counter',
    'icon-prev-screen',
    'icon-exit',
);

$icon-themes: (
    comecar: '~@/assets/images/icons/comecar/',
    ler: '~@/assets/images/icons/ler/',
    escrever: '~@/assets/images/icons/escrever/',
    biblioteca: '~@/assets/images/icons/biblioteca/'
);

// Grid
$gutter-size: 0.5rem;

// Cards
$card-input-dark-border-color: #2B1F17;
$card-input-box-shadow-intesity: 6px;
$card-input-box-shadow-color: #666;
$card-input-box-shadow-success-color: #7DB239;
$card-input-box-shadow-danger-color: #C72929;
$card-empty-color: #CDCBCB;
$card-empty-shadow-color: #ABABAB;
$card-border-radius: 1.05rem;

// Fontsizes
$font-size-variants: (
    small: 12px,
    normal: 18px,
    big: 24px
);

$font-displays: (
    d1: 1rem,
    d2: 2rem,
    d3: 3rem,
    d4: 4rem,
    d5: 5rem,
    d6: 6rem
);


// Gameplay
$gameplay-heading-bg-color: lighten(#f4f4f4, 2.5);
$gameplay-header-height: 100px;
$gameplay-footer-height: 50px;
$gameplay-border-color: #ddd;
$gameplay-height: calc(70vh - #{ $navbar-height - 24px });
$gameplay-max-height: 640px;

// Item
$item-min-width: 74px;
$item-text-max-heigth: 85px;

$item-types: (
    'letra',
    'numero',
    'caractere_especial',
    'silaba',
    'substantivo_comum',
    'substantivo_proprio'
);

$item-letter-types: (
    'letra',
    'numero',
    'caractere_especial',
);


$item-types-width: (
    default: (
        letra: 74px,
        numero: 74px,
        caractere_especial: 74px,
        silaba: 85px,
        substantivo_comum: 210px,
        substantivo_proprio: 210px
    ),
    medium: (
        letra: 58px,
        numero: 58px,
        caractere_especial: 58px,
        silaba: 74px,
        substantivo_comum: 185px,
        substantivo_proprio: 185px
    )
);

$item-sizes: (
    medium: 'medium',
    small: 'small',
    'extreme-small': 'extreme-small'
);

// Player
$inline-player-width: 48px;

// Books
$book-card-height: 180px;