{
  "development": {
      "BASE_API_URL": "https://editorluzdosaber.seduc.ce.gov.br/"
  },
  "development:eja": {
      "BASE_API_URL": "https://editorejaluzdosaber.seduc.ce.gov.br/",
      "CONTEXT": "eja"
  },
  "web": {
      "BASE_API_URL": "https://editorluzdosaber.seduc.ce.gov.br/",
      "BUILD_TARGET": "web",
      "NODE_ENV": "production",
      "CONTEXT": "fundamental"
  },
  "web:clone": {
      "BASE_API_URL": "https://editorluzdosaber.seduc.ce.gov.br/",
      "BUILD_TARGET": "web",
      "NODE_ENV": "production",
      "CONTEXT": "fundamental"
  },
  "web:eja": {
    "BASE_API_URL": "https://editorejaluzdosaber.seduc.ce.gov.br/",
    "CONTEXT": "eja",
    "BUILD_TARGET": "web",
    "NODE_ENV": "production"
  },
  "build:darwin": {
    "BUILD_TARGET": "darwin",
    "CONTEXT": "fundamental"
  },
  "build:linux": {
    "BUILD_TARGET": "linux",
    "LINUX_ARCH": "64",
    "CONTEXT": "fundamental"
  },
  "build:linux:32": {
    "BUILD_TARGET": "linux",
    "LINUX_ARCH": "32",
    "CONTEXT": "fundamental"
  },
  "build:win32": {
    "BUILD_TARGET": "win32",
    "CONTEXT": "fundamental"
  },
  "build:clean": {
    "BUILD_TARGET": "clean",
    "CONTEXT": "fundamental"
  }
}