.DS_Store
dist/
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
package-*.json
yarn.lock

src/main/server/public

# Env
.env
.env-cmdrc

# Local Database
db.json

# Deploy Web
docker-web-app
dist-*

# Static files
static/api
static/images
static/audios

# IDE files
.vscode/