.card-checkmark{
    label{
        &:hover{
            cursor: pointer;
        }
        
    }
    .input-horizontal-align {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
    
    .check-mark {
        min-height: 40px;
        min-width: 40px;
        margin-right: 15px;
        border-radius: 0.6rem !important;
        > .card-body {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 100%;
            border-radius: 0.6rem !important;
            padding: 0px !important;
        }
        &::after{
            @extend .invisible;
        }
    }
    
    .card.limited-width-input {
        min-width: 300px;
        flex: 1;
    }
    input {
        display: block;
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
}