.chart-progress{
        position: relative;
        transition: all 0.2s ease-in;
        .card{
            max-width: 240px;
            margin: auto;
        }
        .card-body{
            height: 255px;
        }
        .chart-progress-label{
            max-width: 80%;
            font-size: 22px;
            text-align: center;
            margin: -36px auto 0px;
            padding-top: 4px;
            border-radius: 4px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .img-container{
            width: 140px;
            height: 140px;
            margin: auto;
            border-radius: 50%;
        }
        .radial-container {
            margin: 19px 0 0 4px;
        }
        .radial-progress-container, .img-container{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }

        .chart-progress-container{
            // transform: scale(0.4);
            width: 100%;
        }
        
        .custom-content{
            @include fill;
            position: relative;
            align-content: center;
            justify-content: center;
            .row{
                @include fill;
            }
        }

        .custom-content-front{
            display: none;
        }
        &:not(:hover){            
            .custom-content{
                display: flex;
            }
            .chart-progress-label, .card{
                background-color: transparent !important;
            }
            .card{
                box-shadow: none !important;
                border-color: transparent !important;
            }
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.05);

            .chart-progress-label{
                color: white !important;
            }

            // .custom-content{
            //     display: none;
            // }
            
            // .custom-content-front{
            //     display: flex !important;
            // }
        }
    }

@include media-breakpoint-down(md){
    .chart-progress{
        margin: 36px auto;
    }
}

@include media-breakpoint-down(xs){
    .chart-progress{
        .chart-progress-label{
            max-width: 90%;
            font-size: 21px;
        }
        .img-container{
            width: 110px;
            height: 110px;
        }
    }
}

.front-page-logo {
    max-width: 32%;
}