.centralize {
    display: flex;
    justify-content: center;
}
.circle-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10%;
}
.circle-and-box{
    margin: 0;
    display: flex;
    transition: all 0.2s ease-in;
    background-color: transparent;
    min-width: 300px;
    flex-basis: 400px;
    max-width: 450px;
    .col {
        padding: 0;
    }
    .title-module-container{
        position: relative;
        left: -50px;
        padding: 0 0 0 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 6px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: white;
        z-index: -1;
        box-shadow: 0px 0px 36px 1px rgba(123, 123, 132, 0.48);
        h3 {
            font-size: 22px;
            margin: 0;
            color: #6f6f6f !important;
            word-wrap: break-word;
        }
    }
    .container-circle {
        background-color: transparent;
        display: flex;
        justify-content: center;
        max-width: 130px;
    }
    .circle {
        max-height: 130px;
    }

    .img-container{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;        
        border-radius: 50%;
        min-width: 100px;
        min-height: 100px;
        .img-fluid {
            max-width: 80px;
            min-height: 80px;
        }
    }

    &:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
}