@each $t in get-themes-keys() {
    .#{$t} {
        .convite {
            .image {
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    margin: unset;
                }
            }

            .flex-center {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .gameplay {
                .gameplay-body {
                    width: 100%;
                    border: none;
                    padding: 50px;
                }

                .gameplay-footer {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-height: 90px;
                }
            }

            .convite-card {
                background-image: url('~@/assets/images/components/convite/convite.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 651px 499px;
                width: 651px;
                height: 499px;
                position: relative;

                .convite-text {
                    color: #003147;
                    @include baloo_bhaina;
                    position: relative;
                    width: 70%;
                    height: 85%;
                    padding: 0px 30px;
                    align-self: flex-start;
                    font-size: 18px;

                    .input-text,
                    .text {
                        position: absolute;
                        font-weight: 200;
                    }

                    .input-text {
                        @include itim_regular;
                        text-transform: capitalize;
                        color: #0276b1;

                        &.saudacao-input {
                            top: 120px;
                            left: 57px;
                        }

                        &.texto-input {
                            top: 166px;
                            left: 57px;
                        }

                        &.data-input {
                            top: 274px;
                            left: 117px;
                        }

                        &.hora-input {
                            top: 273px;
                            left: 274px;
                        }

                        &.local-input {
                            top: 324px;
                            left: 117px;
                        }

                        &.agradecimento-input {
                            top: 374px;
                            left: 217px;

                            input {
                                text-align: right;
                            }
                        }

                        &.assinatura-input {
                            top: 401px;
                            left: 217px;

                            input {
                                text-align: right;
                            }
                        }
                    }

                    .title {
                        @include pacifico;
                        text-transform: capitalize;
                        font-size: 52px;
                        top: 38px;
                        left: 138px;
                    }

                    .data {
                        top: 274px;
                        left: 53px;
                    }

                    .hora {
                        top: 274px;
                        left: 213px;
                    }

                    .local {
                        top: 326px;
                        left: 54px;
                    }

                    .input {
                        &.saudacao-input {
                            width: 150px;
                        }

                        &.data-input {
                            width: 70px;
                        }

                        &.hora-input {
                            width: 50px;
                        }

                        &.local-input {
                            width: 240px;
                        }

                        &.agradecimento-input {
                            width: 150px;
                        }

                        &.assinatura-input {
                            width: 150px;
                        }
                    }

                    input {
                        background: none;
                        border: none;
                        color: inherit;

                        &::placeholder {
                            color: #b7b7b7;
                        }
                    }

                    textarea {
                        color: inherit;
                        background: none;
                        border: none;
                        resize: none;
                        width: 300px;
                        height: 90px;
                        line-height: 27px;

                        &::placeholder {
                            color: #b7b7b7;
                        }
                    }
                }

                .photo-input {
                    position: absolute;
                    right: 49px;
                    top: 139px;
                    width: 204px;
                    height: 200px;

                    div,
                    label {
                        width: 204px;
                        height: 200px;
                    }

                    input {
                        width: 0;
                        height: 0;
                        visibility: hidden;
                        outline: none;
                    }

                    .image {
                        max-height: 200px;
                        transform: rotate(13deg);
                        width: 170px;
                        height: 166px;

                        &:hover {
                            filter: brightness(60%);
                            cursor: pointer;
                        }

                        img {
                            width: 204px;
                        }
                    }
                }

                .photo-holder {
                    width: 204px;
                    height: 200px;
                    @include embed_image(
                        '~@/assets/images/components/convite/photo-holder.png',
                        204px,
                        200px
                    );

                    &:hover {
                        filter: brightness(60%);
                        cursor: pointer;
                    }
                }
            }

            .btn-convite {
                &.galeria {
                    @include embed_image(
                        '~@/assets/images/icons/escrever/convite/btn-galeria.png',
                        56px,
                        56px
                    );
                }

                &.imprimir {
                    @include embed_image(
                        '~@/assets/images/icons/escrever/convite/btn-imprimir.png',
                        56px,
                        56px
                    );
                }

                &.novo {
                    @include embed_image(
                        '~@/assets/images/icons/escrever/convite/btn-novo.png',
                        56px,
                        56px
                    );
                }

                &.salvar {
                    @include embed_image(
                        '~@/assets/images/icons/escrever/convite/btn-salvar.png',
                        56px,
                        56px
                    );
                }

                max-height: 56px;
                user-select: none;
                outline: none;

                &:hover,
                &:focus,
                &:active {
                    cursor: pointer;
                }
            }
        }
    }
}