.cracha-container {
    position: relative;
}

.cracha-text {
    position: absolute;
    top: 66%;
    left: 0;
    width: 93%;

    // background-color: black;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}