#dragging-syllables {
  display: flex;
  justify-content: center;
  .key-syllables {
    padding: 0 0.5rem;
  }
  .image-container {
    margin: 0.5rem;
    .card--display {
      padding: 0px;

      .card .bg-color .card-body {
        padding: 8px !important;
      }
    }
  }

  .image {
    img {
      max-width: 70px;
      max-height: 60px;
    }
  }
  .activity-values {
    max-width: 300px;
  }
}
