.gameplay{    
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    margin: 24px;    
    box-shadow: 3px 3px 18px transparentize($color: #000, $amount: 0.9);
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 8px; 
    .gameplay-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 126px;
        background-color: $card-heading-bg-color;  
        border-bottom: 1.5px solid #ddd;
        padding: 0px 8px;
        flex: 1;
        .gameplay-heading-title{
            font-size: 30px;
            line-height: 40px;
            text-transform: uppercase;
            @include ellipsis(100%);
        }
    }
    .gameplay-footer{        
        background-color: $card-heading-bg-color;  
        border-top: 1.5px solid #ddd;
        border-bottom: 0px solid transparent;
        border-bottom-left-radius: 8px; 
        border-bottom-right-radius: 8px; 
        height: 72px;
        padding: 0px 16px;
        .gameplay-footer-actions{
            display: flex;
            flex-direction: flex;
            align-items: center;
            width: 100%;
            height: 72px;
        }
    }
    .gameplay-body{
        padding: 24px 24px;
        background-color: white;
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 60vh;
        // overflow-x: hidden;
        // overflow-y: auto;
    }
}

.gameplay{
    position: relative;
    padding-top: 12px;
    .gameplay-description{
        @extend .subtitle;
        flex: 1;
        max-height: 3rem;        
        text-align: center;
        font-size: 28px;
        color: #717171;
        margin: 24px 0px;
    }
    .gameplay-activity-container{        
        @include custom_scroll_bar;
        flex: 1;        
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .step-bars{
        position: absolute;
        display: flex;
        background-color: #f4f4f4;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 8px;
        padding-bottom: 4px;
        .bar{
            flex: 1;
            height: 8px;
            margin-right: 8px;
            background-color: #ddd;
            &.active{
                background-color: $navbar-bgcolor;
            }
            &:last-child{                
                margin-right: 0px;
            }
        }
    }
    .gameplay-footer-status{
        padding: 0px 48px;
        min-width: 20%;
        text-align: center;
        .title, .subtitle{
            text-transform: uppercase;
        }
        .title{
            font-size: 40px;
            color: #00A8C8;
            margin-bottom: -10px;
        }
        .subtitle{
            @include itim_regular;
            font-size: 16px;
            color: #717171;
            font-weight: 100;
        }
    }
    .gameplay-footer-divider{
        display: block;
        width: 1px;
        height: 75%;
        background-color: #ddd;
    }
    .exercise-sample{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;
    }
}

