.item{
    position: relative;
    user-select: none;
    outline: none;
    label{
        margin-bottom: 0px;
    }
    .letra, .numero, .caractere_especial {
        display: inline-flex;
        flex: 1;
        max-width: none;
        min-width: $item-min-width;
        justify-content: center;
        .card {
            max-height: 71px;
            &.valid, &.invalid{
                &::after{
                    top: -24px;
                    bottom: auto;
                    left: 0;
                    right: 0;
                }
            }
        }
        .card-droppable, .card-draggable, .card-radio-input, .card-display {
            min-width: 74px;
        }
        .card-input-text {
            max-width: 74px;
            .card-body{
                padding: 1rem 1.25rem !important;
            }
        }
    }
    .letra{
        .card-droppable, .card-draggable, .card-radio-input, .card-display {
            max-width: 74px;
        }
    }
    &.col-sm-1, &.col-md-1, .col-1{
        display: inline-flex;
        flex: 1;
        max-width: none;
        min-width: $item-min-width;
        justify-content: center;        
    }
}