.item{
    position: relative;
    user-select: none;
    outline: none;
    label{
        margin-bottom: 0px;
    }    
    .letra, .numero, .caractere_especial, .silaba, .substantivo_comum, .substantivo_proprio {
        display: inline-flex;
        flex: 1;
        max-width: none;
        width: 100%;
        justify-content: center;
        .card {
            max-height: $item-text-max-heigth;          
        }
        .texto{
            [class^="card"] {
                max-height: $item-text-max-heigth;
                .bg-color{
                    overflow: hidden;
                }
            }            
        }
        [class*="card--"], .draggshadow {
            min-width: 74px;
            max-height: $item-text-max-heigth;
        }
        .card-input-text {
            max-width: 74px !important;
            .card-body{
                padding: 1rem 1.25rem !important;
            }
        }
    }
    .letra, .numero, .caractere_especial, .silaba {
        .card {
            &.valid, &.invalid{
                &::after{
                    top: -24px;
                    bottom: auto;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
    .letra{
        &.texto{
            .card--droppable, 
            .card--draggable, 
            .card--radio-input, 
            .card--display {
                max-width: $item-letter-width;
            }
        }
    }

    .silaba {
        &.texto{
            .card--droppable, 
            .card--draggable, 
            .card--radio-input, 
            .card--display {
                width: $item-syllabus-width;
            }
        }
    }

    .substantivo_comum, .substantivo_proprio{
        &.texto{
            .card--droppable, 
            .card--draggable, 
            .card--radio-input, 
            .card--display {
                min-width: $item-word-width;
            }
        }
    }
    

    &.col-sm-1, &.col-md-1, .col-1{
        display: inline-flex;
        flex: 1;
        max-width: none;
        min-width: $item-min-width;
        justify-content: center;        
    }
}