.item{
    position: relative;
    user-select: none;
    outline: none;
    label{
        margin-bottom: 0px;
    }

    @each $type in $item-types {
       .#{$type} {
           display: inline-flex;
           flex: 1;
           max-width: none;
           width: 100%;
           justify-content: center;
           .texto{
               [class^="card--"] {
                   max-height: $item-text-max-heigth;
                   .bg-color{
                       overflow: hidden;
                   }
               }
               .card {
                   max-height: $item-text-max-heigth;
               }
           }
           [class*="card--"], .draggshadow {
               &:not(.card-sm){
                   min-width: 74px;
               }
               &.card-sm .card{
                   height: 56px;
               }
           }
           .card-input-text {
               max-width: 74px !important;
               .card-body{
                   padding: 1rem 1.25rem !important;
               }
           }
       }
    }

    @each $type in $item-types {
        @if $type != 'substantivo_comum' or $type != 'substantivo_proprio' {
            .#{$type} {
                .card {
                    &.valid, &.invalid{
                        &::after{
                            top: -24px;
                            bottom: auto;
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    [class*="card--"], .draggshadow {
        &.card-sm {
            @include custom-card-sm;
        }
    }

    @each $type, $value in $item-types-width {
        .#{$type}{
            &.texto{
                .card--droppable,
                .card--draggable,
                .card--radio-input,
                .card--display {
                    width: $value;
                }
            }
        }
    }
    @each $type, $value in $item-types-sm-width {
        .#{$type}{
            &.texto{
                .card--droppable,
                .card--draggable,
                .card--radio-input,
                .card--display {
                    &.card-sm {
                        width: $value;
                    }
                }
            }
        }
    }

    &.col-sm-1, &.col-md-1, .col-1{
        display: inline-flex;
        flex: 1;
        max-width: none;
        min-width: $item-min-width;
        justify-content: center;
    }
}