.jigsaw {
    .dragzone {
        z-index: 100;
    }

    .total {
        width: 360px;
        height: 240px;
        background-image: url('~@/assets/images/components/navbar/navbar-bg.png');
        background-color: #c72929;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        user-select: none;
        cursor: default;
        .inicial {
            font-size: 160px;
        }
        .name {
            font-size: 34px;
        }
    }

    .peca {
        width: 180px;
        height: 120px;
        overflow: hidden;
        position: relative;
        .p0 {
            position: absolute;
            left: 0;
            top: 0;
        }
        .p1 {
            position: absolute;
            right: 0;
            top: 0;
        }
        .p2 {
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .p3 {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    .pecas {
        display: flex;
        flex-wrap: wrap;
        width: 365px;
        height: 245px;
        align-content: space-around;
        justify-content: space-around;
    }

    .drag-container {
        width: 385px;
        height: 325px;
        position: relative;
        .draggable {
            position: absolute;
        }
    }

    .drop-container {
        &.droppable {
            filter: grayscale(100%);
            opacity: 0.3;
        }
        &.static,
        &.success {
            opacity: 1;
        }
        &.fail {
            opacity: 0.8;
            &::before {
                background-image: url('~@/assets/images/icons/fail.png');
                background-size: 22px 23px;
                width: 22px;
                height: 23px;
                position: absolute;
                content: '';
            }
            &.p0::before {
                left: 10px;
                top: 49px;
            }
            &.p2::before {
                left: 10px;
                top: 169px;
            }
            &.p1::before {
                right: 10px;
                top: 49px;
            }
            &.p3::before {
                right: 10px;
                top: 169px;
            }
        }
        &.success {
            &::before {
                background-image: url('~@/assets/images/icons/success.png');
                background-size: 22px 23px;
                width: 22px;
                height: 23px;
                position: absolute;
                content: '';
            }
            &.p0::before {
                left: 10px;
                top: 49px;
            }
            &.p2::before {
                left: 10px;
                top: 169px;
            }
            &.p1::before {
                right: 10px;
                top: 49px;
            }
            &.p3::before {
                right: 10px;
                top: 169px;
            }
        }
    }
    @include media-breakpoint-down('md') {
        .jigsaw-container {
            flex-direction: column-reverse;
        }
        .dragzone {
            padding-top: 60px;
        }
    }
}
