@each $t in get-themes-keys() {
    .#{$t} {
        .biblioteca{
            &.fullscreen{
                z-index: 999; 
                width: 100vw;
                height: 100vh; 
                max-width: 100vw;
                max-height: 100vh;
                padding: 0;
                position: fixed; 
                top: 0; 
                left: 0;
                .navbar{
                    display: none;
                }
                .gameplay{
                    z-index: 9999; 
                    width: 100%; 
                    height: 100%; 
                    max-width: 100%;
                    max-height: 100%;
                    margin: 0;
                    position: fixed; 
                    top: 0; 
                    left: 0;
                }
                .btn{
                    &.icon-close{
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin: 0;
                        padding: 0;
                        cursor: pointer;
                        @include embed_image("~@/assets/images/icons/biblioteca/icon-close.png", 56px, 59px);
                    }
                }
                .step-bars{
                    margin: 3% 15%;
                    width: 70%;
                }
                .gameplay-body{
                    height: 70vh;
                    max-height: 70vh;
                    margin-top: 10vh;
                    margin-bottom: 4vh;
                    border: none;
                    .img-wrap div{
                        height: 100%;
                    }
                }
                .image-viewer{
                    .image{
                        .transition-span{
                            height: 100%;
                        }
                    }
                }
            }
        }
        
        
        
        .gameplay-body{
            $gameplay-height: get-value-theme($t, "gameplay-height");
            $gameplay-header-height: get-value-theme($t, "gameplay-header-height");
            height: calc(#{$gameplay-height} + #{$gameplay-header-height });
            max-height: calc(#{ $gameplay-height} + #{$gameplay-header-height });
        }
        
        .gameplay-footer{
            display: flex;
            align-items: center;
            max-height: get-value-theme($t, 'gameplay-books-footer-height') !important;
        }
        
        .bar{
            margin-right: 0 !important;
        }
        
        .btn-book{
            &.cover{
                @include embed_image("~@/assets/images/icons/btn-book-cover.png", 62px, 62px);
            }
            &.info{
                @include embed_image("~@/assets/images/icons/btn-book-info.png", 62px, 62px);
            }
            &.maximize{
                @include embed_image("~@/assets/images/icons/btn-book-maximize.png", 62px, 62px);
            }
            &.download{
                @include embed_image("~@/assets/images/icons/btn-download.png", 62px, 62px);
            }
            max-height: 62px;
            user-select: none;
            outline: none;
            &:hover,
            &:focus,
            &:active {
                cursor: pointer;
            }
        }
        .footer-navigation{
            margin-right: auto;
            margin-left: auto;
        }
        
        .footer-info{
            position: absolute;
            right: 1em;
        }
        
        .footer-navigation,
        .footer-info{
            display: flex;
            align-items: center;
            justify-content: center;
            .page-card{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.6rem;
                color: #0B7DA2;
                width: 120px;
                height: 3rem;
                background-color: #EAE9E9;
                border: 2px #00CCC2 solid;
                box-shadow: inset 0px 0px 0px 4px #FFFFFF;
                border-radius: 10px;
            }    
        }
        
        .image-viewer{
            .image{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                .transition-span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 70%;
                    position: relative;
                    .division::after{
                        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
                        content: "";
                        height: 100%;
                        width: 10em;
                        position: absolute;
                        mix-blend-mode: multiply;
                    }
                }
                .img-wrap{
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    div{
                        width: auto;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    img {
                        height: 100%; 
                        width: 100%; 
                        object-fit: contain;
                        filter: drop-shadow(rgba(132, 132, 132, 0.8) -10px 0px 1rem);
                    }
                }
            }
        }
    }
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
