.navbar{
    @extend .container-fluid;
    position: fixed;
    width: 100%;
    height: $navbar-height;
    top: 0;
    left: 0;
    background: url('../images/components/navbar/bg.png') $navbar-bgcolor repeat-x;
    color: $text-invert;
    display: flex;
    align-items: center;
    user-select: none;
    z-index: 80;
    .navbar-title{
        font-size: 42px;
        max-height: 42px;
        text-transform: uppercase;
        text-align: center;
        @include ellipsis(100%);
    }
}