.card--display{
    @include custom-card;
    &.card-sm{
        @include custom-card-sm;
    }
}


.card-input{
    background-color: transparent !important;
    &.card-sm{
        @include custom-card-sm(true);
    }
}

.card-input{
    @include custom-card(true);
    &.card-input-text{
        input{
            background: transparent;
            outline: none;
            border: none;
            width: 100%;
            height: 24px;
            text-align: center;
            text-transform: uppercase;
            border-bottom: 2px solid transparentize($card-input-dark-border-color, 1);
            transition: border-bottom 0.2s ease-in;
            &:focus{                
                border-bottom: 2px solid $card-input-dark-border-color;
            }
        }
    }
}

.card-checkmark{
    @include custom-card(true);
}

.card-input.card--draggable{
    @include custom-card(true);
    .dragging, .dropped{
        &::before{
            @include custom-dropcard-content;
        }
    }   
}

.card-input.card--droppable{
    @include custom-card;
    .card{
        &:not(.valid):not(.invalid){
            &::before{
                @include custom-dropcard-content;
            }
        }
    }    
}

.card-image-display{
    max-width: 400px;
    margin: auto;
    .card-img img{
        max-height: 168px;
    }
    .card-img svg {
        width: 168px;
        height: 168px;
    }
}

// .card{
//     @include card_boxshadow();
//     border-radius: 1.25rem;
//     overflow: hidden;
//     .card-body{
//         border: 1.25px solid #000;
//         border-top-left-radius: 1.25rem;
//         border-top-right-radius: 1.25rem;
//         @include card_boxshadow_inset;
//     }
//     .card-footer{
//         @include ellipsis(100%);
//         text-align: center;
//         font-size: 24px;        
//     }
// }