.confirm-exit{
    //background: url('~@/assets/images/components/feedback/comecar/background-comecar.png');
    .confirm-exit-header{
        font-family: "Itim Regular", Helvetica, sans-serif;
    }
    .confirm-exit-text{
        display: flex;
        text-transform: uppercase;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 0px;
        flex: 1;
    }
    .confirm-exit-buttons{
        display: flex;
        justify-content: center;
    }
}