.confirm-exit{
    background: url('~@/assets/images/components/feedback/comecar/background-comecar.png');
    background-position-x: -80px;
    border: hidden;
    .modal-header {  
        color: #ddd;  
        height: 140px; 
        background-image: url('~@/assets/images/components/feedback/texture.png');
        background-repeat: repeat;
        background-color: #31ADA5;
   }
    .confirm-exit-header{
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .confirm-exit-header-item{
        display: inline-flex;
        margin: auto;
        .confirm-exit-header-item-text{
            margin-top: 10px;
        }
    }
    .confirm-exit-image{
        margin: 30px auto;
    }
    .confirm-exit-text{
        display: flex;
        text-transform: uppercase;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
        flex: 1;
        .confirm-exit-text-golden {
            color: goldenrod;
        }
    }
    .confirm-exit-footer{
        display: flex;
        justify-content: center; 
        margin-bottom: 15px; 
        .confirm-exit-button{
            width: 61px;
            height: 61px;
            cursor: pointer;
        }      
    }
}