@each $t in get-themes-keys() {
    .#{$t} {
        .modal-dialog {
            max-width: 560px;   
        }
        &.comecar {
            &.is-report {
                .feedback {
                    background: #FFFAFA;
                }
            }
            .feedback {
                background-image: url('~@/assets/images/components/feedback/comecar/background-comecar.png');
            }
        }
        &.ler {
            &.is-report {
                .feedback {
                    background: #FFFAFA;
                }
            }
            .feedback {
                background-image: url('~@/assets/images/components/feedback/ler/background-ler.png');
            }
        }
        &.escrever {
            &.is-report {
                .feedback {
                    background: #FFFAFA;
                }
            }
            .feedback {
                background-image: url('~@/assets/images/components/feedback/escrever/background-escrever.png');
            }
        }
        &.biblioteca {
            &.is-report {
                .feedback {
                    background: #FFFAFA;
                }
            }
            .feedback {
                background-image: url('~@/assets/images/components/feedback/biblioteca/background-biblioteca.png');
            }
        }
        &.karaoke {
            &.is-report {
                .feedback {
                    background: #FFFAFA;
                }
            }
            .feedback {
                background-image: url('~@/assets/images/components/feedback/ler/background-ler.png');
            }
        }
        .feedback {
            background-position-x: -60px;
            border: hidden;
            border-radius: 1em;
            .feedback-header {
                margin: 0 auto;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-direction: column;
                height: 110px;
                width: 530px;
                .btn-report {
                    @include embed_image('~@/assets/images/icons/btn-relatorio.png', 62px, 62px);
                    position: absolute;
                    top: 3px;
                    right: 0px;
                    cursor: pointer;
                }
                .btn-back {
                    @include embed_image('~@/assets/images/icons/comecar/icon-prev.png', 62px, 62px);
                    position: absolute;
                    top: 3px;
                    left: 0px;
                    cursor: pointer;
                }
                .btn-close {
                    @include embed_image('~@/assets/images/icons/btn-fechar.png', 62px, 62px);
                    position: absolute;
                    top: 3px;
                    right: 0px;
                    cursor: pointer;
                }
                &.report {
                    justify-content: center;
                    height: 100%;
                    height: 67px;
                    .feedback-header-item h5 {
                        font-size: 1.5em;
                        margin-bottom: 0;
                    }
                }
            }
            .feedback-header-item {        
                display: inline-flex;
                margin: 0 auto;
            }
            .feedback-rounded-number {
                display: flex;
                border: solid 2px;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }
            .feedback-stars {
                position: absolute;
                top: -120px;
            }
            .feedback-small-stars {
                width: 108px;
                height: 106px;
                margin-top: 35px;
            }
            .modal-header {                
                color: #fdfdfd;  
                height: 140px;
                background-image: url('~@/assets/images/components/feedback/texture.png');
                background-repeat: repeat-x;
                border-radius: 1em 1em 0 0;
                @include baloo_bhaina;
                transition: height 0.2s;
                &.is-report {
                    height: 100px;
                }
                
                .transition {
                    width: 100%;
                    height: 100%;
                }
                
                @each $color, $value in get-value-theme($t, theme-colors) {
                    &.#{$color} {
                        background-color: $value;
                    }
                }                 
            }
            .feedback-content {
                height: 310px;
                transition: height 0.2s;
                .content-feedback,
                .content-report {
                    display: flex;
                    text-transform: uppercase;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 8px;
                    flex: 1;
                    @include baloo_bhaina;                    
                }
                .content-report {
                    position: relative;
                }
                .content-report .report-table {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    max-height: 410px;
                    align-content: center;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    @include custom_scroll_bar();
                    .report-table-row {
                        width: 98%;
                        min-height: 55px;
                        font-size: 18px;
                        display: grid;
                        grid-template-columns: 1.5fr 1fr 1fr 1fr;
                        grid-template-rows: 1fr;
                        gap: 0px 0px;
                        grid-template-areas: ". . . .";
                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            .stars {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 90%!important;
                                border-radius: 15px!important;
                            }
                            .star {
                                @include embed_image('~@/assets/images/components/feedback/report-star.png', 25px, 23px);
                            }
                            &.total-0-stars {
                                .star {
                                    opacity: 0.2;
                                    filter: grayscale(80%);
                                }
                            }
                            &.total-1-stars {
                                .star:last-child,
                                .star:nth-child(2) {
                                    opacity: 0.2;
                                    filter: grayscale(80%);
                                }
                            }
                            &.total-2-stars {
                                .star:last-child {
                                    opacity: 0.2;
                                    filter: grayscale(80%);
                                }
                            }
                        }
                        &:not(.title){
                            div:not(:first-child) > span {                                
                                background-color: rgba(224, 224, 224, 0.6);
                                width: 80%;
                                padding: 5px 0px;
                                color: #25B9CF;
                                border-radius: 20px;
                                height: 35px;
                                line-height: 25px;
                            }
                        }
                        &:nth-child(3) {
                            margin-top: 130px;
                        }
                        &.title,
                        &.average {
                            position: absolute;
                            top: 0;
                            background: #FFFAFA;
                            width: 94%;
                        }
                        &.average {
                            box-shadow: 0px 0px 20px 2px rgba(156, 156, 156, 0.35);
                            border-radius: 10px;
                            background: #FFFFFF;
                            margin-bottom: 10px;
                            height: 60px;
                            top: 50px;
                        }
                    }
                }     
                .feedback-itim {
                    font-family: "Itim Regular", Helvetica, sans-serif;
                }
                .feedback-golden {
                    color: goldenrod;
                }
                &.report {
                    height: 350px;
                }
            }
            .feedback-footer-buttons {
                .feedback-buttons,
                .report-buttons {
                    display: flex;
                    justify-content: center;
                }
                .report-buttons {
                    height: 62px;
                    .btn-subir {
                        @include embed_image('~@/assets/images/icons/btn-subir.png', 62px, 62px);
                        cursor: pointer;
                    }
                    .btn-baixar {
                        @include embed_image('~@/assets/images/icons/btn-baixar.png', 62px, 62px);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.fade-feedback-enter-active, .fade-feedback-leave-active {
    transition: opacity .2s;
}
.fade-feedback-enter, .fade-feedback-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}