.counter{
    position: relative;
    width: 62px;
    height: 62px;
    > span{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        font-size: 25px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
    }
}

.clean-links {
    text-decoration: none !important;
}

.fill{
    width: 100%;
    height: 100%;
}

// Flexbox
.column{
    flex-direction: column !important;
}
.reverse{
    flex-direction: row-reverse !important;
}
.reverse-column{
    flex-direction: column-reverse !important;
}

.justify-space-between{
    justify-content: space-between;
}

.justify-space-evenly{
    justify-content: space-evenly;
}

.flex{
    flex: 1;
}
.flex-2{
    flex: 2;
}
.flex-3{
    flex: 3;
}
.flex-4{
    flex: 4;
}
