.flex{
    flex: 1;
}

.counter{
    position: relative;
    @include embed_image('~@/assets/images/icons/red/counter.png', 50px, 50px);
    > span{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        font-size: 25px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
    }
}