@each $theme in $icon-themes {
    @each $icon-name in $icon-names{
        .#{$icon-name}{
          @include embed_image("#{$theme}#{$icon-name}.png", $icon-width, $icon-height);
          max-height: $icon-height;
          user-select: none;
          &:hover, &:focus, &:active{
              cursor: pointer;
          }
        }
    }
}
