$karaoke-icons: (
    btn-karaoke-next: '~@/assets/images/icons/btn-karaoke-next.png',
    btn-karaoke-back: '~@/assets/images/icons/btn-karaoke-back.png',
    btn-karaoke-play: '~@/assets/images/icons/btn-karaoke-play.png',
    btn-karaoke-pause: '~@/assets/images/icons/btn-karaoke-pause.png',
    btn-karaoke-volume-more: '~@/assets/images/icons/btn-volume-more.png',
    btn-karaoke-volume-minus: '~@/assets/images/icons/btn-volume-minus.png'
);

$gibi-icons: (
    btn-gibi-down: '~@/assets/images/icons/escrever/icon-down.png',
    btn-gibi-up: '~@/assets/images/icons/escrever/icon-up.png',
    btn-gibi-next: '~@/assets/images/icons/escrever/icon-next.png',
    btn-gibi-prev: '~@/assets/images/icons/escrever/icon-prev.png',
    btn-gibi-save: '~@/assets/images/icons/escrever/editor/salvar escrever.png',
);

@each $t in get-themes-keys() {
    .#{$t} {
        @each $theme, $value in get-value-theme($t, 'icon-themes') {
            @each $icon-name in $icon-names {
                .#{$theme} {
                    .#{$icon-name} {
                        @include embed_image("#{$value}#{$icon-name}.png", $icon-width, $icon-height);
                        max-height: $icon-height;
                        user-select: none;
                        outline: none;
                        &:hover,
                        &:focus,
                        &:active {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@each $icon, $value in $gibi-icons {
    .#{$icon} {
        @include embed_image($value, 61px, 61px);
        max-height: 61px;
        user-select: none;
        outline: none;
        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
        }
    }
}

@each $icon, $value in $karaoke-icons {
    .#{$icon} {
        @include embed_image($value, 52px, 52px);
        max-height: 52px;
        user-select: none;
        outline: none;
        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
        }
    }
}

.icon-volume {
    @include embed_image('~@/assets/images/icons/icon-volume.png', 24px, 23px);
    max-height: 23px;
}