html, body{    
    line-height: 1.15;
    @include custom_scroll_bar;
}

body{
    #app{
        height: 100%;
        padding-top: $navbar-height;
        padding-bottom: 0px;
        overflow: auto;
        .page-container{
            @extend .fill;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            > * {
                flex: 1;
            }
            .page-container-wrap-spacing{
                padding-top: $page-container-wrap-spacing;
            }
            @include media-breakpoint-down('md'){                
                .page-container-wrap-spacing{
                    padding-top: $page-container-wrap-spacing-xs;
                }
            }
        }
    }
}


@media only screen and (min-width: 75em){    
    .container{
        width: 88rem;
    }
}