html, body{    
    line-height: 1.15;
    @include custom_scroll_bar;
}

body{
    padding-top: $navbar-height;
}


@media only screen and (min-width: 75em){    
    .container{
        width: 88rem;
    }
}