html, body{    
    line-height: 1.15;
    @include custom_scroll_bar;
}

body{
    #app{
        height: 100%;
        padding-top: $navbar-height;
        padding-bottom: 0px;
        overflow: auto;
    }
}


@media only screen and (min-width: 75em){    
    .container{
        width: 88rem;
    }
}