body,html {
    width: 100%;
    height: 100%;
}

body {
      #app {
          position: relative;
          @each $t in get-themes-keys() {
              $bg-color: get-value-theme($t, 'bg-color');
              &.#{$t} {
                background-size: cover;
                font-family: get-value-theme($t, 'font-family');
                text-transform: uppercase;
                @if type-of($value: $bg-color) == 'color' {
                    background-image: get-value-theme($t, 'bg-image');
                    background-color: $bg-color;
                } 
                @else {
                    $start: map-deep-get($bg-color, 'start');
                    $end: map-deep-get($bg-color, 'end');
                    @include linear-gradient($start, $end);
                    &::before {
                        position: absolute;
                        display: block;
                        content: ' ';
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-image: get-value-theme($t, 'bg-image');
                        background-size: contain;
                    }
                }
                color: get-value-theme($t, 'text-color');
              }
          }
      }
}

@each $t in get-themes-keys() {
    .#{$t} {
        @each $color, $value in get-value-theme($t, 'theme-colors')  {
            .#{$color} {
                .navbar {
                    background-color: $value;
                }
                .plyr--audio .plyr__controls{
                    color: $value;
                }
            }
        }
    }
}

