@font-face {
  font-family: 'Baloo Bhaina';
  src: url('~@/assets/fonts/BalooChettan-Regular.woff') format('woff'),
    url('~@/assets/fonts/BalooChettan-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Itim Regular';
  src: url('~@/assets/fonts/Itim-Regular.woff') format('woff'),
    url('~@/assets/fonts/Itim-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Becca & Perry';
  src: url('~@/assets/fonts/Becca&PerryScript-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pacifico';
  src: url('~@/assets/fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Viga';
  src: url('~@/assets/fonts/Viga-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fundamental {
  .subtitle {
    @include itim_regular;
  }
}
.eja {
  .subtitle {
    @include roboto;
  }
}

@each $size in map-keys($map: $font-size-variants) {
  &.#{$size} {
    font-size: map-get($font-size-variants, $size);
  }
}
