@font-face {
  font-family: "Baloo Bhaina";
  src: url("~@/assets/fonts/BalooBhaina-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Itim Regular";
  src: url("~@/assets/fonts/Itim-Regular.ttf") format("truetype")
}

.subtitle{
    @include itim_regular;
    text-transform: uppercase;
}

@each $size in map-keys($map: $font-size-variants) {
    &.#{$size} {
      font-size: map-get($font-size-variants, $size);
    } 
}