#frontpage{
    .front-page-logo {
        max-width: 320px;
    }

    .front-page-logo-animation{
        display: block;
        position: relative;
        width: 320px;
        height: 196px;
        &::before {
            content: ' ';
            background-image: url('~@/assets/images/logo/face.png');
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .front-page-login{
        @include itim_regular;
        padding: 30px 0 15px;
        max-width: 600px;
        width: 90%;
    }
}